@font-face {
  font-family: FUTURA55REGULAR;
  src: url(./assets/fonts/FUTURA55REGULAR.TTF);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: FUTURA55REGULAR;
}
body {
  background-image: url(./assets/imgs/8991081.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: -1px;
  backdrop-filter: blur(5px);
}
.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: #fff;
  text-shadow: 5px 2px 10px #000;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  flex-wrap: wrap;
  min-width: 200px;
  background-color: #ffffff60;
  border-radius: 20px;
  margin: 10px;
  color: #000;
}
h1 {
  font-size: 45px;
  padding: 10px;
  text-align: center;
}
h2 {
  font-size: 30px;
}
@media screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  body {
    background-image: url(./assets/imgs/8991081.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: -300px;
  }
}
